
.logo {
  text-align: center;
}
div {
  text-align: justify;
  width: 60%;
  margin: auto;

}

.titre{
  text-align: center;
  font-size: 50px;
  text-decoration: underline;
  font-family: arial black;

}

.Commandes {
  padding-top: 10px;
}
.Cmds {
  text-decoration: underline;
  font-size: 40px;
}


.Soustitre {
  text-decoration: underline;
  font-size: 40px;
}

.Exp{
  font-size: 30px;
}

html {
  background-color: F0E7BE;
}
